.notifications-section {
    position: fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    pointer-events: none;
    z-index: 2;
    border: 1px solid red;
}

.notifications-section .body {
    display: inline-block;
}

.notification {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 12px;
    border: 3px solid var(--local-color);
    background-color: var(--local-color);
    box-shadow: inset 1px 1px 3px #0008,
        inset -1px -1px 3px #fff8;
    pointer-events: all;
    /* border: 1px solid green; */
}

/* .notification { */
/* border: 3px solid var(--local-color);
    background-color: var(--local-color);
    box-shadow: inset 1px 1px 3px #0008, 
              inset -1px -1px 3px #fff8; */
/* } */

.notification.success {
    --local-color: green;
}

.notification.error {
    --local-color: crimson;
}

@media screen and (max-width: 600px) {
    .notifications-section {
        left: 0;
    }
}

.toast-container {
    max-width: 420px;
    padding: 1rem 1rem 0;
    margin: 0 auto;
    background-color: transparent;
}

.toast-box {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    /* border: 1px solid green; */
    border: 3px solid var(--local-color);
    background-color: var(--local-color);
    box-shadow: inset 1px 1px 3px #0008,
        inset -1px -1px 3px #fff8;
    pointer-events: all;
}

.toast-box.success {
    --local-color: green;
}

.toast-box.error {
    --local-color: crimson;
}

.toast-box.fade-out {
    animation: fade-out 1s linear forwards;
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }
}

.toast-box {
    /* border: 3px solid var(--local-color); */
    /* background-color: var(--local-color); */
    /* box-shadow: inset 1px 1px 3px #0008, 
              inset -1px -1px 3px #fff8; */
}

.toast-box button {
    padding: 0;
    line-height: 0;
}

.toast-box button span {
    display: inline-block;
    padding: 0.8em 0.5em;
    font-size: 0.8rem;
    font-weight: bold;
    transform: scaleY(0.8);
    /* border: 1px solid black; */
}

@media screen and (max-width: 600px) {
    .notifications-section {
        left: 0;
    }
}