* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */
  /* COLORS */
  --COLOR: #FFF;
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: #6cb0e8;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em;
  color: inherit;
  transition: color 300ms ease-in-out;
}

a:visited {
  color: var(--LINK-COLOR);
}

a:hover {
  color: var(--LINK-HOVER);
}

button {
  padding: 0.4em 1em;
  border: none;
  outline: none;
  font-family: Georgia, serif;
  background-color: transparent;
  transition: color 300ms ease-in-out;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid #888;
}

img {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
  color: var(--COLOR);
  font-family: Georgia, serif;
  background-color: var(--BGCOLOR);
}

.navbar {
  padding: 1rem 2%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar a {
  /* border: 1px solid white; */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */