* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --COLOR: #FFF;
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: #6cb0e8;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em;
  color: inherit;
  transition: color 300ms ease-in-out;
}

/* a:visited {
  color: var(--LINK-COLOR);
} */

a:hover {
  color: var(--LINK-HOVER);
}

button {
  padding: 0.4em 1em;
  border: none;
  outline: none;
  font-family: Georgia, serif;
  background-color: transparent;
  transition: color 300ms ease-in-out;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid #888;
}

img {
  display: block;
  width: 100%;
}

.btn-primary {
  padding: 0.8em 1em;
  color: var(--BGCOLOR);
  font-weight: bold;
  border-radius: 6px;
  background-color: var(--LINK-HOVER);
  transition: background-color 300ms ease-in-out;
}

.btn-primary:hover {
  /* color: var(--COLOR); */
  color: var(--BGCOLOR);
  /* background-color: rgb(63, 46, 177); */
  background-color: var(--COLOR);
}

body {
  min-height: 100vh;
  color: var(--COLOR);
  font-family: Georgia, serif;
  background-color: var(--BGCOLOR);
}

.navbar {
  padding: 1rem 2%;
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar a {
  /* border: 1px solid white; */
}

.main-content {
  padding: 1rem 2%;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
}

.form-control {
  padding: 0.5rem 1rem;
  border: 1px solid #555;
  background-color: transparent;
}

.input-group button {
  height: 100%;
  border: 1px solid #555;
}

.input-group button:hover {
  color: var(--LINK-HOVER);
}

.input-group select {
  padding: 0.5rem 1rem;
  border: 1px solid #555;
  background-color: var(--BGCOLOR);
}

.cards {
  /* max-width: 100%; */
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fill, auto); */
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.card {
  /* max-width: 100%; */
  padding: 1rem;
  border: 1px solid #555;
  border-radius: 12px;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card .links {
  margin-top: 1rem;
}

.card .links a {
  padding: 0.8em 1em;
  color: var(--BGCOLOR);
  font-weight: bold;
  border-radius: 6px;
  background-color: var(--LINK-HOVER);
  transition: background-color 300ms;
}

.card .links a:hover {
  background-color: var(--COLOR);
}

dl .row {
  gap: 0.5rem;
}

.not-found-section {
  padding: 2rem 5%;
  text-align: center;
}

.restaurant h1 {
  margin-bottom: 1rem;
}

.restaurant dl {
  margin-bottom: 1rem;
}

.restaurant dl .row {
  margin-bottom: 0.25rem;
}

.restaurant h2 {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--BORDER-COLOR);
}

.empty-reviews-section {
  padding: 1rem;
  /* text-align: center; */
}

.submit-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 3px 3px 3px #0005, 
            -3px -3px 3px #fff2;
}

.submit-form h1 {
  margin-bottom: 2rem;
  /* text-align: center; */
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.submit-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.submit-form input {
  width: 100%;
  border-radius: 6px;
}

.submit-form .btn-primary {
  margin-top: 1rem;
  padding: 0.6em 2em;
}