* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --COLOR: #FFF;
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: #6cb0e8;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em;
  color: inherit;
  transition: color 300ms ease-in-out;
}

a:visited {
  color: var(--LINK-COLOR);
}

a:hover {
  color: var(--LINK-HOVER);
}

button {
  padding: 0.4em 1em;
  border: none;
  outline: none;
  font-family: Georgia, serif;
  background-color: transparent;
  transition: color 300ms ease-in-out;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid #888;
}

img {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
  color: var(--COLOR);
  font-family: Georgia, serif;
  background-color: var(--BGCOLOR);
}

.navbar {
  padding: 1rem 2%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar a {
  /* border: 1px solid white; */
}