@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em;
  transition: color 300ms ease-in-out;
}

button {
  padding: 0.4em 1em;
  border: none;
  outline: none;
  font-family: Georgia, serif;
  background-color: transparent;
  transition: color 300ms ease-in-out;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid #888;
}

img {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
  color: var(--COLOR);
  font-family: Georgia, serif;
  background-color: var(--BGCOLOR);
}

a {
  display: inline-block;
  text-decoration: none;
}

a,
a:visited {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

.nowrap {
  white-space: nowrap;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, 
footer {
  padding: 1rem;
}

main {
  flex: 1;
  padding: 1rem;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
}

.main-desc {
  max-width: 300px;
  margin-bottom: 2rem;
}

.addr {
  margin-bottom: 2rem;
}

.addr span {
  display: block;
  margin-bottom: 0.5rem;
}

.form {
  max-width: 600px;
  padding: 1rem;
}

.form-header {
  /* padding: 1rem; */
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.icon-button {
  font-size: 0px;
}

.icon-button i {
  padding: 0.2em;
  font-size: 1.6rem;
  /* border: 1px solid; */
}

.form-input {
  width: 100%;
  max-width: 30ch;
  padding: 0.25em 1em;
  color: inherit;
  border-radius: 10em;
  border: 1px solid #444;
  background-color: transparent;
}

.form-select {
  width: 100%;
  max-width: 30ch;
  padding: 0.5em;
  color: inherit;
  /* border-radius: 12px; */
  border: 1px solid #444;
  background-color: transparent;
}

.form-select option {
  padding: 0.2em;
  font-family: Georgia, serif;
}

option:checked {
  color: var(--STATUS-COMPLETE);
  background-color: transparent;
}

select:focus option:focus {
  /* color: var(--STATUS-COMPLETE); */
  background-color: red;
}
