@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
}

body {
  min-height: 100vh;
  color: var(--COLOR);
  font-family: Georgia, serif;
  background-color: var(--BGCOLOR);
}

h1 {
  padding-top: 5rem;
  color: brown;
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 3rem;
  text-transform: capitalize;
}