:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

noscript {
  padding: 3rem 2%;
}

noscript h1 {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: color 300ms;
}

button {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

input {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
}

button:focus-visible,
input:focus-visible,
a:focus-visible {
  outline: 1px solid #999;
}

img {
  display: flex;
  width: 100%;
}

body {
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  color: rgba(255, 255, 255, 0.87);
  font-family: Georgia, serif;
  background-color: #242424;
  /* border: 1px solid red; */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.test {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  /* flex-shrink: 0; */
  /* min-height: 100vh; */
  display: flex;
  border: 1px solid green;
}

h1 {
  margin: auto;
  color: crimson;
  color: transparent;
  font-size: 5vw;
  text-transform: capitalize;
  -webkit-text-stroke: 1px crimson;
  border: 1px solid orange;
}