:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

noscript {
  padding: 3rem 2%;
}

noscript h1 {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: color 300ms;
}

button {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

input {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
}

button:focus-visible,
input:focus-visible,
a:focus-visible {
  outline: 1px solid #999;
}

img {
  display: block;
  /* display: flex; */
  width: 100%;
}

body {
  /* color: rgba(255, 255, 255, 0.87); */
  font-family: Georgia, serif;
  /* background-color: #242424; */
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.page.light {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

nav {
  border-bottom: 1px solid;
}

nav ul {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

nav button, 
nav a {
  color: cornflowerblue;
  font-size: 1.2rem;
}

nav .logo {
  margin-right: auto;
}

nav .logo a {
  font-size: 2rem;
  font-weight: bold;
}

main {
  flex: 1;
}

.main-header {
  padding: 3rem 0;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid;
}

.main-body {
  padding: 3rem 0;
  border: 1px solid;
}


/* delete */
.page {
  text-align: center;
  text-transform: capitalize;
}

nav, 
footer, 
main {
  padding: 1rem 2%;
  /* color: crimson; */
  /* font-size: 5vw; */
  /* border: 1px solid; */
}




