:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

noscript {
  padding: 3rem 2%;
}

noscript h1 {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  padding: 0.4em 1em;
  text-decoration: none;
  transition: color 300ms;
}

button {
  padding: 0.4em 1em;
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  padding: 0.4rem;
  font-size: 0px;
  border: 1px solid;
}

.icon i {
  font-size: 1rem;
}

input {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
}

button:focus-visible,
input:focus-visible,
a:focus-visible {
  outline: 1px solid #999;
}

img {
  display: block;
  /* display: flex; */
  width: 100%;
}

body {
  /* color: rgba(255, 255, 255, 0.87); */
  font-family: Georgia, serif;
  /* background-color: #242424; */
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.page.light {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

nav {
  border-bottom: 1px solid;
}

nav ul {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

nav button, 
nav a {
  color: cornflowerblue;
  /* font-size: 1.2rem; */
}

nav .logo {
  margin-right: auto;
}

nav .logo a {
  font-size: 2rem;
  font-weight: bold;
}

nav .icon {
  font-size: 1.2rem;
}

main {
  flex: 1;
}

.main-header {
  padding: 3rem 0;
  text-align: center;
  text-transform: capitalize;
  /* border: 1px solid; */
}

.main-header .redirect-link {
  position: relative;
  margin-top: 1rem;
  /* padding: 0.4em 1em; */
  color: cornflowerblue;
  font-size: 1.4rem;
  /* border: 1px solid; */
}

.redirect-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1%;
  background-color: cornflowerblue;
  transition: transform 300ms;
  transform: scale(0);
}

.redirect-link:hover::after {
  transform-origin: center;
  transform: scale(1);
}

.main-body {
  padding: 3rem 0;
  /* border: 1px solid; */
}

.products {
  display: grid;
  grid-template-columns: 
    repeat(auto-fill, minmax(300px, 1fr));
}

.product-card {
  padding: 1rem;
  border-radius: 6px;
  /* border: 1px solid red; */
  box-shadow: 3px 3px 3px #0004, 
            -3px -3px 3px #fff1;
}

.product-card img {
  border-radius: inherit;
}

.product-card .body {
  padding: 2rem 0 1rem;
}

.product-card header {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.product-card .price {
  font-size: 1.4rem;
}

.product-card .actions {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}


/* delete */
.page {
  /* text-align: center; */
  /* text-transform: capitalize; */
}

nav, 
footer, 
main {
  padding: 1rem 2%;
  /* color: crimson; */
  /* font-size: 5vw; */
  border: 1px solid;
}