* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em;
  transition: color 300ms ease-in-out;
}

button {
  padding: 0.4em 1em;
  border: none;
  outline: none;
  font-family: Georgia, serif;
  background-color: transparent;
  transition: color 300ms ease-in-out;
  cursor: pointer;
}

button:focus-visible button:focus-visible {
  outline: 1px solid #fff8;
}

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.back-btn {
  display: inline-block;
}

.back-btn a {
  padding: 0.4rem 2.1rem 0.4rem 2rem;
  /* display: inline-flex; */
  /* gap: 1rem; */
  font-size: 0px;
  border-radius: 10rem;
  background-color: cornflowerblue;
}

.back-btn i {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.loader {
  display: block;
  position: relative;
  width: 25vw;
  height: 25vw;
  margin: auto;
  border-radius: 50%;
}

.logo-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.logo-ring:nth-child(1) {
  border-top: 3px solid steelblue;
  animation: loaderv321 2s linear infinite;
}

@keyframes loaderv321 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

.logo-ring:nth-child(2) {
  border-right: 3px solid #f00;
  animation: loaderv322 2s linear infinite;
}

@keyframes loaderv322 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

.logo-ring:nth-child(3) {
  border-bottom: 3px solid steelblue;
  animation: loaderv323 2s linear infinite;
}

@keyframes loaderv323 {
  0% {
    transform: rotateX(35deg) rotateY(65deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(65deg) rotateZ(360deg);
  }
}

.logo-ring:nth-child(4) {
  border-left: 3px solid #f00;
  animation: loaderv324 2s linear infinite;
}

@keyframes loaderv324 {
  0% {
    transform: rotateX(50deg) rotateY(150deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(150deg) rotateZ(360deg);
  }
}

.logo:focus .logo-ring,
.logo:hover .logo-ring {
  animation-duration: 1s;
}

.home-page {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem 2%;
}

.home-page .header {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.home-page .header a {
  font-size: 0px;
}

.home-page .header a i {
  padding: 0.2rem;
  color: cornflowerblue;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 6px;
  border: 2px solid;
}

table {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  border-spacing: 0.5rem;
  /* border: 1px solid; */
}

th, td {
  padding: 0.5em;
  border-radius: 6px;
  border: 1px solid black;
}

.ri-information-line {
  color: #166534;
}

.ri-edit-line {
  color: #d69e2e;
}

.fa-trash-o {
  color: #dc2626;
}

@media screen and (max-width: 1000px) {
  .author-col, 
  .year-col {
    display: none;
  }
}