* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em;
  transition: color 300ms ease-in-out;
}

button {
  padding: 0.4em 1em;
  border: none;
  outline: none;
  font-family: Georgia, serif;
  background-color: transparent;
  transition: color 300ms ease-in-out;
  cursor: pointer;
}

button:focus-visible button:focus-visible {
  outline: 1px solid #fff8;
}

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.back-btn {
  display: inline-block;
}

.back-btn a {
  padding: 0.4rem 2.1rem 0.4rem 2rem;
  font-size: 0px;
  border-radius: 10rem;
  background-color: cornflowerblue;
}

.back-btn i {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.loader {
  display: block;
  position: relative;
  width: 25vw;
  height: 25vw;
  margin: auto;
  border-radius: 50%;
}

.logo-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.logo-ring:nth-child(1) {
  border-top: 3px solid steelblue;
  animation: loaderv321 2s linear infinite;
}

@keyframes loaderv321 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

.logo-ring:nth-child(2) {
  border-right: 3px solid #f00;
  animation: loaderv322 2s linear infinite;
}

@keyframes loaderv322 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

.logo-ring:nth-child(3) {
  border-bottom: 3px solid steelblue;
  animation: loaderv323 2s linear infinite;
}

@keyframes loaderv323 {
  0% {
    transform: rotateX(35deg) rotateY(65deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(65deg) rotateZ(360deg);
  }
}

.logo-ring:nth-child(4) {
  border-left: 3px solid #f00;
  animation: loaderv324 2s linear infinite;
}

@keyframes loaderv324 {
  0% {
    transform: rotateX(50deg) rotateY(150deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(150deg) rotateZ(360deg);
  }
}

.logo:focus .logo-ring,
.logo:hover .logo-ring {
  animation-duration: 1s;
}

.home-page {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem 2%;
}

.home-page .header {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.home-page .header a {
  font-size: 0px;
}

.home-page .header a i {
  padding: 0.2rem;
  color: cornflowerblue;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 6px;
  border: 2px solid;
}

table {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  border-spacing: 0.5rem;
}

th, td {
  padding: 0.5em;
  border-radius: 6px;
  border: 1px solid black;
}

.ri-information-line {
  color: #166534;
}

.ri-edit-line {
  color: #d69e2e;
}

.fa-trash-o {
  color: #dc2626;
}

@media screen and (max-width: 1000px) {
  .author-col, 
  .year-col {
    display: none;
  }
}

.book-page {
  padding: 1rem 2%;
}

.book-page h1 {
  margin: 2rem 0 1rem;
}

.book-info {
  display: inline-block;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 3px 3px 3px #0004, 
            -2px -2px 2px #0001;
}

.book-info .row {
  padding: 0.5rem;
}

dl, dt, dd {
  all: revert;
}

dt {
  font-size: 1.1rem;
  font-weight: bold;
}

.create-page {
  padding: 1rem 2%;
}

.create-page h1 {
  margin: 2rem 0 1rem;
}

.create-page form {
  max-width: 400px;
  padding: 1rem 1rem 2rem;
  border-radius: 12px;
  box-shadow: 3px 3px 3px #0004, 
            -2px -2px 2px #0001;
}

.create-page .row {
  margin: 1rem 0;
}

.create-page .row label {
  display: block;
  margin-bottom: 0.5rem;
}

.create-page .row input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: 0px solid transparent;
  border-radius: 10em;
  border: 0px solid transparent;
  background-color: transparent;
  box-shadow: inset 1px 1px 1px #0002, 
            inset -1px -1px 1px #0001;
  transition: box-shadow 300ms;
}

.create-page .row input:focus-visible {
  box-shadow: inset 2px 2px 2px #0004, 
            inset -1px -1px 1px #0002;
}

.create-page button {
  margin-top: 1rem;
  padding: 0.5em 3em;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10em;
  box-shadow: 1px 1px 1px #0004, 
            -1px -1px 1px #0001;
  transition: box-shadow 300ms;
}

.create-page button:hover,
.create-page button:focus-visible {
  box-shadow: 3px 3px 3px #0004, 
            -2px -2px 2px #0001;
}

.create-page button:active {
  box-shadow: inset 2px 2px 2px #0004, 
          inset -2px -2px 2px #0001;
}

.edit-page {
  max-width: 500px;
  margin: auto;
  padding: 1rem 2%;
}

.edit-page h1 {
  margin: 2rem 0;
  text-align: center;
}

.edit-page form {
  max-width: 400px;
  margin: auto;
  padding: 1rem 1rem 2rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 3px 3px 3px #0004, 
            -2px -2px 2px #0001;
}

.edit-page .row {
  margin: 1.5rem 0;
}

.edit-page .row label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.edit-page .row input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: 0px solid transparent;
  border-radius: 10em;
  border: 0px solid transparent;
  background-color: transparent;
  box-shadow: inset 1px 1px 1px #0002, 
            inset -1px -1px 1px #0001;
  transition: box-shadow 300ms;
}

.edit-page .row input:focus-visible {
  box-shadow: inset 2px 2px 2px #0004, 
            inset -1px -1px 1px #0002;
}

.edit-page button {
  margin-top: 1rem;
  padding: 0.5em 3em;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10em;
  box-shadow: 1px 1px 1px #0004, 
            -1px -1px 1px #0001;
  transition: box-shadow 300ms;
}

.edit-page button:hover,
.edit-page button:focus-visible {
  box-shadow: 3px 3px 3px #0004, 
            -2px -2px 2px #0001;
}

.edit-page button:active {
  box-shadow: inset 2px 2px 2px #0004, 
          inset -2px -2px 2px #0001;
}

.delete-page {
  max-width: 500px;
  margin: auto;
  padding: 1rem 2%;
}

.delete-page h1 {
  margin: 2rem 0;
  text-align: center;
}

.delete-page .main-section {
  text-align: center;
}

.delete-page button {
  margin-top: 1rem;
  padding: 0.8em 2em;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10em;
  background-color: #f13939;
  box-shadow: 1px 1px 1px #0004, 
            -1px -1px 1px #0001;
  transition: box-shadow 300ms;
}

.delete-page button:hover,
.delete-page button:focus-visible {
  box-shadow: 3px 3px 3px #0004, 
            -2px -2px 2px #0001;
}

.delete-page button:active {
  box-shadow: inset 2px 2px 2px #0004, 
          inset -2px -2px 2px #0001;
}

.type-buttons {
  padding: 2rem 0;
  /* display: flex; */
  /* gap: 1rem; */
  text-align: center;
}

.type-btn {
  padding: 0.8em 2em;
  color: white;
  /* color: #0284c7; */
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10em;
  background-color: #7dd3fc;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 1px #0004, 
  -1px -1px 1px #0001;
  transition: background-color 300ms, 
                    box-shadow 300ms;
}

.type-btn:first-child {
  margin-right: 1rem;
}

.type-btn:hover {
  /* color: white; */
  background-color: #0284c7;
}

.type-btn:hover,
.type-btn:focus-visible {
  box-shadow: 3px 3px 3px #0004, 
            -2px -2px 2px #0001;
}

.type-btn:active {
  box-shadow: inset 2px 2px 2px #0004, 
          inset -2px -2px 2px #fff8;
}